.MoviePoster {
    background-color: white;
    border-radius: 10px;
    width: 200px
}

.MoviePoster h3 {
    text-align: center;
}

img {
    object-fit: cover;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}

