.MoviePoster {
    background-color: white;
    border-radius: 10px;
    width: 270px;
    height: 450px;
}

.MoviePoster h3 {
    text-align: center;
    font-weight: 400;
    font-size: medium;
    padding: 9px;
}

img {
    object-fit: cover;
    width: 270px;
    border-radius: 10px 10px 0px 0px;
}

